# scalafmt sbt plugin config
# refer to https://olafurpg.github.io/scalafmt/#Configuration for properties

--style defaultWithAlign # For pretty alignment.
--maxColumn 120          # For my wide 30" display.

--reformatDocstrings true
--scalaDocs

--continuationIndentCallSite 4
--continuationIndentDefnSite 4

--rewriteTokens ⇒;=>,←;<-
--danglingParentheses false
--spaceAfterTripleEquals true
--alignByArrowEnumeratorGenerator true
--binPackParentConstructors true
--allowNewlineBeforeColonInMassiveReturnTypes true
--spacesInImportCurlyBraces false

# --alignByOpenParenCallSite <value>
# --alignByOpenParenDefnSite <value>
